@import '../../styles/mixins.scss';

.PartTile {
  @include flexCenter;
  @include dimOnHover;
  box-sizing: border-box;
  width: 4rem;
  height: 4rem;
  margin: 0.5rem;
  padding: 0.25rem;
  border-radius: 1rem;
}

.PartImage {
  width: 100%;
}
