// colors
$gray-2: #222;
$gray-3: #333;
$gray-4: #444;
$gray-7: #777;

// text sizes
$text-large: 36px;
$text-medium: 20px;
$text-small: 18px;

// other
$box-shadow: 0 5px 10px rgba(0, 0, 0, 0.25);
$font-stack: 'Prompt', Arial, sans-serif;
