@import '../../styles/mixins.scss';
@import '../../styles/variables.scss';

.CenterContainer {
  width: 40rem;
  height: 44.25rem;
}

.KartConfig {
  @include flexCenter;
  @include fill;
  grid-area: config;
  background: $gray-2;
}

.NoBackend {
  font-size: $text-medium;
  text-align: center;
  color: white;
  line-height: 2;
}

.PartList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.PartOptions {
  display: flex;
}

.Separator {
  @include blue-red-gradient(-90deg);
  width: calc(100% - 1rem);
  height: 0.25rem;
  border-radius: 1rem;
  margin: 1rem 0.5rem;
}
