.KartConfig {
  grid-area: kart-config;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  padding: 2rem;
  background: #222;
}

.CenterContainer {
  width: 40rem;
  height: 44.25rem;
}

.PartOptions {
  display: flex;
}

.Separator {
  width: calc(100% - 1rem);
  height: 0.25rem;
  background: linear-gradient(to right, #26baff, #f92470);
  border-radius: 1rem;
  margin: 1rem 0.5rem;
}
