@import '../../styles/mixins.scss';
@import '../../styles/variables.scss';

.PartSelection {
  box-sizing: border-box;
  width: 9em;
  height: 12.25rem;
  margin: 0.5rem;
}

.PartLock {
  @include dimOnHover;
  margin-top: 1rem;
  padding: 0.5rem;
  border-radius: 2rem;
}

.PartLabel {
  color: white;
  box-sizing: border-box;
  font-size: $text-small;
  text-align: center;
  white-space: nowrap;
}

.SelectedPart {
  @include dimOnHover;
  @include flexCenter;
  box-sizing: border-box;
  border-radius: 2rem;
  padding: 0.5rem;
  width: 9rem;
  height: 9rem;
}
