.PartSelection {
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  width: 9rem;
  height: 9rem;
  padding: 1rem;
  margin: 0.5rem;
  border-radius: 2rem;
  background: #777;
  transition: 0.25s;

  &:hover {
    filter: brightness(80%);
  }
}
