.KartOptimizerApp {
  display: grid;
  grid-template-areas:
    "header header"
    "kart-config kart-stats"
    "kart-config optimizer";
  grid-template-rows: 6rem calc(50vh - 3rem) calc(50vh - 3rem);
  grid-template-columns: 60vw 40vw;
}
