.KartOptimizerApp {
  display: grid;
  grid-template-areas:
    'header header'
    'kart-config sidebar';
  grid-template-rows: 6rem calc(100vh - 6rem);
  grid-template-columns: calc(100vw - 34rem) 34rem;
}
