.StatPriority {
  float: left;
  box-sizing: border-box;
  height: 100%;
  width: 11rem;
  background: #333;
  padding: 1rem;
  margin-right: 1rem;
  border-radius: 2rem;
}

.Stat {
  color: white;
  border-radius: 1.5rem;
  padding: 0.5rem;
  font-size: 20px;
  text-align: center;
  margin: 1rem 0;
  background: #777;

  &:hover {
    filter: brightness(90%);
  }

  &:first-child {
    margin-top: 0;
  }

  &:last-child {
    margin-bottom: 0;
  }
}
