@import '../../styles/mixins.scss';
@import '../../styles/variables.scss';

.Stat {
  @include dimOnHover(90%, 0);
  color: white;
  border-radius: 1.5rem;
  padding: 0.5rem;
  font-size: $text-medium;
  text-align: center;
  margin: 1rem 0;
  background: $gray-7;

  &:first-child {
    margin-top: 0;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

.StatList {
  box-sizing: border-box;
  width: 100%;
  background: $gray-3;
  padding: 1rem;
  border-radius: 2rem;
}

.StatPriority {
  float: left;
  width: 11rem;
  height: 100%;
  margin-right: 1rem;

  button {
    @include dimOnHover;
    @include blue-red-gradient(-90deg);
    color: white;
    border-radius: 1.5rem;
    font-size: $text-medium;
    text-align: center;
    font-family: $font-stack;
    margin-top: 1rem;
    padding: 0.5rem;
    width: 100%;
  }
}
